* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 50, 132);
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.feed {
    width: 50%;
}

.post {
    border: 2px solid rgb(0, 140, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.post.adv::before{
    content: 'Advertisment';
}