body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.artist-name {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(209, 125, 0);
    border-radius: 3px;
    padding: 5px;
    color: darkslategrey;
}

.song {
    padding: 2px;
    background-color: transparent;
    display: flex;
    justify-content: stretch;
    background-color: transparent;
}

.song.playing {
    background-color: blue;
}

.song-name {
    color: white;
    flex: 1;
}

.song-name::before {
    content: '🎵';
}

#MusicBoxTopWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.MusicTotal {
    min-height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

/* #MusicBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    background-color: rgb(66, 66, 66);
    flex: 1;
} */

.MusicPlayListWrapper {
    background-color: rgb(66, 66, 66);
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#MusicPlayList {
    flex: 1;
}

h4 {
    color: white;
}

.MusicPlaying {
    height: 150px;
}

progress {
    width: 100%;
}

.song__controls {
    display: flex;
    justify-content: center;

}