* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: black;
    font-size: 14px;
}
h2 {
    color: gray;
    font-size: 12px;
}
ul {
    list-style-image: url('images/li.png');
}